@model SoilMuseum.Models.Division

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Division</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Division_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Division_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Division_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
